* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    background-color: #6b38da;
    justify-content: end;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.container {
    display: flex;
    margin: 1rem;
    flex-direction: column;
    align-items: center !important;
    justify-content: center !important;
    gap: 0.5rem;
    z-index: 1;
    background-color: rgba(180, 181, 182, 0.342);
    height: 20%;
    width: 20%;
    border-radius: 25px;
}

@media (max-width: 480px) {
    #pantalla {
        font-size: 0.5rem; 
    }
    .container {
        width: 50%;
        height: 20%;
        
    }
    .interfaz {
        width: 80%;
        padding: 20px;
    }
   
    button {
        width: 70%; 
        font-size: 9px;
    }
}

.timer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.input-number {
    background-color: rgb(236, 236, 236);
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1.5rem;
    width: 80%;
    margin: 0 auto;
    margin: 1rem;
}

#pantalla {
    font-size: 2.5rem;
    transition: all 0.3s ease;
    margin-top: none;
}

#start-btn {
    background-color: aquamarine;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    position: relative;
}
#start-btn:hover {
    transform: translateY(-3px); /* Efecto de flotar */
    box-shadow: 0 6px 20px rgba(0, 242, 254, 0.6);
    filter: brightness(1.1);
}
#start-btn:active {
    transform: translateY(1px);
    transition: all 0.3s ease;
}

#fondo-video {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
    z-index: -2; /* Detrás de todo */
}

#video-boom {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    object-fit: cover;
    z-index: -1; /* Encima del video de fondo pero detrás del texto */
    display: none; /* Oculto inicialmente */
}

.boom {
    color: red !important;
    transform: scale(1.2);
}

.github {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    display: block;
}

.github img {
    width: 100;
    height: 100%;
    border-radius: 20px;
}